/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* ---- CSS RESET SECTION ---- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* variables */
:root{
	--color-pink: #FF6565;
	--color-white: #ffff;
	--color-dark-blue: #071629;
}
/* ---- SECTION ---- */
.font-white {
	color: var(--color-white);
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
	font-style: normal;
	line-height: normal;
}
.font-dark {
	color: var(--color-dark-blue);
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
	font-style: normal;
	line-height: normal;
}

header{
	background: url(assets/images/headphones_hero_1.jpg);
	width: 100% ;
	height: 800px;
}
.nav{
	display: flex;
	justify-content: space-around;
	align-items:  center;
	padding-top: 27px;
}
.nav-button{
	display: none;
}
.nav-logo img {
	width: 161px;
	height: 32px;
}
.nav-items {
	display: flex;
	justify-content: space-around;
	gap: 41px;
}

.nav-items a {
	color: var(--color-white);
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
	width: 61px;
	height: 15px;
}

.nav-items a:hover {
	color: var(--color-pink);
}

.Header-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 312px 0 105px 0;
}
h1 {
	font-size: 32px;
	font-weight: 700;
	width: 578px;
}
h2{
	text-align: center;
	font-family: "Source Sans Pro";
	font-size: 46px;
	font-weight: 700;
	line-height: 26px;
}
.short-text{
	font-size: 16px;
	font-weight: 700;
}
.long-text{
	width: 637px;
	font-size: 16px;
	font-weight: 300;
	line-height: 132%; 
}
.action-button{
	width: 162px;
	height: 44px;
	flex-shrink: 0;
	border: transparent solid;
	border-radius: 22px;
	background: var(--color-pink);
	font-size: 14px;
	font-weight: 600;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
	margin: 40px 0 45px 0;
}
.action-button:hover{
	background: rgba(255, 101, 101, 0.9);
}
.icon-style{
	color: #FF6565;
	font-size: 70px;
}
.what-we-do-section{
	width: 100% ;
	height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	gap: 97px;
}
.section-head{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.section-body{
	/* border: solid rgb(0, 255, 174); */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 58px;
    justify-content: center;

}
.section-body-item{
	display: flex;
	flex-direction: column;
	width: 207px;
	height: 108px;
	justify-content: space-evenly;
	align-items: center;
}
.section-body-item p{
	width: 207px;
}

.section-body-item img{
    width: 160px;
    /* height: 155px; */
	
}

.Our-results{
	background: url(assets/images/headphones_hero_2.jpg);
	width: 100% ;
}
.bottom-overlay{
	position:relative;
}
.overlay{
	position:absolute;

}

@media screen and (max-width: 770px) {
	header{
		background: url(assets/images/headphones_hero_tab.jpg);
		width: 100% ;
		height: 800px;
	}
	.Our-results{
		background: url(assets/images/headphones_hero_2tab.jpg);
		background-size: 100% 900px ;
	}
	h1 {
		font-size: 32px;
		font-weight: 700;
		width: 90%;
	}
	.short-text{
		font-size: 16px;
		font-weight: 700;
	}
	.long-text{
		width: 445px;
		font-size: 16px;
		font-weight: 300;
		line-height: 132%; 
	}
}
@media screen and (max-width: 480px) {
	header{
		background: url(assets/images/headphones_hero_mob.jpg);
		background-size: 100% 869px ;
	}
	.Our-results{
		background: url(assets/images/headphones_hero_2mob.jpg);
		background-size: 100% 1491px ;
	}
	.Header-section{
		padding: 200px 0 52px 0;
	}
	h1 {
		font-size: 32px;
		font-weight: 700;
		width: 80%;
	}
	/* h2{
		text-align: center;
		font-family: "Source Sans Pro";
		font-size: 36px;
		font-weight: 700;
		line-height: 26px;
	} */
	.short-text{
		font-size: 16px;
		font-weight: 700;
	}
	.long-text{
		width: 87%;
		font-size: 16px;
		font-weight: 300;
		line-height: 132%; 
	}

	.nav-items {
		display: none;
	}
	.nav-button{
		display: block;
		border: transparent;
		color: var(--color-white);
		background-color: transparent;
	}
	.nav{
		flex-direction: row-reverse;
		justify-content: space-evenly;
	}
	.nav-button:focus + .dropdown{
			display: block;
			position: fixed;
			padding-top: 161px;
	}
	.nav-items a{
		display: flex;
		flex-direction: column;
		padding: 10%


	}
	.what-we-do-section{
		display: flex;
		height: 1491px;
		justify-content: center;
		

	}

}
